__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/
.env
*.local.yml
secrets.yml
.pytest_cache/
.ruff_cache/
.mypy_cache/
.direnv/
assets/backgrounds/*
!assets/backgrounds/.gitkeep
